.book-appointment-modal {
  width: 800px;
}

.appointment-date {
  margin-top: 5px!important;
  margin-bottom: 10px!important;

  > div {
    padding: 0;
  }

  input,
  button {
    margin: 0 !important;
  }

  button {
    padding-bottom: 2px !important;
  }
}

.doctor-name input {
  margin: 0 !important;
}

.doctor-name, .time-slot, .prior-medical-history, .symptoms {
  display: block !important;
  margin: 5px 0 10px 0 !important;
}

.error-dialog > div:nth-child(3) > div {
  background-color: #42414D;
  color: #fff;
  font-size: 10px;
  border-radius: 5px;
  width: 350px;
  margin: 0;
}

.dialog-title {
  svg, label {
    vertical-align: middle;
  }
  label {
    font-size: 15px;
  }
}

.dialog-content {
  padding: 5px 20px !important;
}

.dialog-actions {
  padding: 16px !important;
}