.header-header {
  background-color: purple;
  height: 40px;
  padding: 0 11px;
  display: flex;
  align-items: center;
}

.header-auth-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.header-auth-content {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.header-auth-modal {
  width: 400px;
}

.header-auth-header {
  background-color: purple;
  text-align: left;
  font-size: 30px;
}

.header-auth-header h5 {
  font-weight: bold;
  color: white;
  text-align: center;
}

.header-auth-options {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.header-auth-options button {
  background-color: transparent;
  font-size: 16px;
  color: black;
  border: none;
  padding: 8px 50px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s;
  text-align: center;
  width: 100%;
}

.header-auth-options button:hover, .header-auth-options button.active {
  border-color: rgb(231, 65, 93);
  border-width: 2px;
}

.auth-form {
  margin-top: 20px;
}

.auth-form label {
  display: block;
  margin-bottom: 5px;
}

.auth-form input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.header-logo {
  display: flex;
  width: 70%;
}

.header-logo img {
  height: 25px;
  align-self: center;
}

.header-logo-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  padding-left: 20px;
}

.header-login-logout {
  justify-content: flex-end;
  display: flex;
  width: 30%;
}

.tooltip-required-validation {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 12px;
  font-size: 10px;
}